{#{% import 'core/components/header/header.twig' as headerBlock %}#}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
</head>
<body>

<div class="container">
{% block content %}
      <h1>Content</h1>
{% endblock %}
</div>
{% include '../components/footer/footer.twig' with {'myVar': 'Text from outside'} %}
</body>

<script type="text/javascript" src="../js/bundle.js"></script>
</html>
