{% macro slider() %}
    <!-- Swiper -->
    <div class="swiper-container" data-url="http://www.mocky.io/v2/5d275b13320000ff2a71badd">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(https://picsum.photos/id/2/1160/500)">
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam, aliquid autem beatae consequuntur cum cupiditate dolores excepturi illum molestiae, nam officia optio perferendis quisquam reprehenderit sed sunt temporibus ut?</div>
            </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
{% endmacro %}
